<h1> Customer Form</h1>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="container">

    <label for="customerName"><b> customer Name</b></label>
    <input formControlName="customerName" type="text" id="customerName" placeholder="Enter name" name="name" required>
    <label for="inputEmail"><b> customer Email</b></label>
    <input formControlName="customerEmail" type="text" id="inputEmail" placeholder="Email address" name="uname" required>

    <label for="custPhone"><b> customer Phone</b></label>
    <input formControlName="customerPhone" type="text" id="custPhone" placeholder="Phone Number" name="custPhone" required>

    <label for="payDetail"><b>payment Detail</b></label>
    <input formControlName="paymentDetail" type="text" id="payDetail" placeholder="paymentDetail" name="payDetail" required>

    <label for="payMethodCode"><b>payment Method Code</b></label>
    <input formControlName="paymentMethodCode" type="text" id="payMethodCode" placeholder="paymentMethodCode" name="payMethodCode" required>

    
    <label for="otherPaymentDetail"><b>other Payment Detail</b></label>
    <input formControlName="otherPaymentDetail" type="text" id="otherPaymentDetail" placeholder="otherPaymentDetail" name="otherPaymentDetail" required>
    <button type="submit">Submit</button>
  </div>


</form>
